
body {
    font-family: Arial, sans-serif;
    background-color:lab(88.1% -1.46 -2.18);
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
.container{ width:100%; 
           max-width:800px; 
           background:#fff; 
           border-radius:18px; 
           padding:30px; 
           box-shadow:0 15px 40px rgba(0,0,0,0.12); 
          }
.header {
    background: #2874f0;
    color: white;
    text-align: center;
    padding: 20px;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

/* Zoom */
img:hover {
    transform: scale(1.1);
}
.tabs{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.tab-btn{
    flex:1;
    padding:10px;
    border:none;
    background:lightgray;
    border-radius:5px;
    cursor:pointer;
}

.tab-btn.active{
    background:blue;
    color:white;
}

.tab-content{
    display:none;
}

.tab-content.active{
    display:block;
}

input, select{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:1px solid gray;
    border-radius:5px;
}

.row{
    display:flex;
    gap:10px;
}

.row div{
    flex:1;
}

input{
   width:100%;
   padding:12px;
   border:1px solid #ccc;
   border-radius:10px;
   outline:none;
}

input:focus{
   border-color:#2563eb;
   box-shadow:0 0 0 3px rgba(37,99,235,0.1);
}


input[type="radio"] {
    margin: 8px;
}

input, select{
   padding:12px;
   border-radius:10px;
   border:1px solid #ccc;
}
button {
    display: block;
    margin: 25px auto;
    padding: 12px 25px;
    background-color: #fb641b;  
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #ff9f00;
}



footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
    font-size: 14px;
}
body{
    font-family:Arial;
    background:#f1f3f6;
    text-align:center;
    padding:40px;
}

h2{
    color:blue;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}

input, select{
    padding:10px;
    width:250px;
    margin:10px;
}
